header {
    background-image: url('images/background.jpg');
    padding: 30px;
}

body {
    margin: 0px auto;
}

.avatar {
    border-radius: 50%;
    width: 200px;
}

footer {
    width: 100%;
    bottom: 0px;
    background-color: gray;
    color: #fff;
    position: absolute;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.text-left {
    width: 100%;
    height: 100%;
    text-align: left;
}

.text-right {
    width: 100%;
    height: 100%;
    text-align: right;
    margin-top: 30px;
}